# 1주차 퀴즈

## 1번

In [7]:
question = ['Q2', 'Q3', 'Q4', 'Q5', 'Q6_1', 'Q6_2', 'Q6_3', 'Q6_4', 'Q6_5', 'Q6_6',
       'Q6_7', 'Q6_8', 'Q6_9', 'Q6_10', 'Q6_11', 'Q6_12', 'Q7_1', 'Q7_2',
       'Q7_3', 'Q7_4', 'Q7_5', 'Q7_6', 'Q7_7', 'Q8', 'Q9', 'Q10_1', 'Q10_2',
       'Q10_3']

In [15]:
answer = []
for i in question:
    if '_' not in i:
        answer.append(i)
print(answer)

['Q2', 'Q3', 'Q4', 'Q5', 'Q8', 'Q9']

## 2번

In [154]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/healthexp.csv")
df = df.pivot_table(columns="Country" ,values="Life_Expectancy",index="Year").tail(10).rename_axis(None,axis=1)
df

      Canada  France  Germany  Great Britain  Japan  USA
Year
2011    81.4    82.3     80.5           81.0   82.7 78.7
2012    81.6    82.1     80.6           81.0   83.2 78.8
2013    81.7    82.3     80.6           81.1   83.4 78.8
2014    81.8    82.8     81.2           81.4   83.7 78.9
2015    81.9    82.4     80.7           81.0   83.9 78.7
2016    82.0    82.7     81.0           81.2   84.1 78.7
2017    81.9    82.7     81.1           81.3   84.2 78.6
2018    82.0    82.8     81.0           81.3   84.3 78.7
2019    82.2    82.9     81.3           81.4   84.4 78.8
2020    81.7    82.3     81.1           80.4   84.7 77.0

## 3번

### Pandas를 통한 파일 저장과 불러오기

In [174]:
import pandas as pd
#read_csv("파일명") : csv 파일 불러오기
df = pd.read_csv("서울특별시 강남구_생활폐기물배출량_20221019.csv", encoding='cp949')
# shape를 통한 행과 열의 수 보기
df.shape
# - head, tail, sample 을 통한 일부 데이터 가져오기
df.head()
df.tail()
df.sample()
#to_csv("파일명", index=False) : csv 파일로 저장하기
df.to_csv("test")

### DataFrame의 info(), describe() 등을 통한 요약과 기술통계 값 구하기

In [182]:
# info()
df.info()
# describe()
df.describe()
# nunique()
df.nunique()
# index
df.index
# columns
df.columns
# values
df.values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   강남구             12 non-null     object
 1   2019년(생활폐기물)-톤  12 non-null     int64
 2   2020년(생활폐기물)-톤  12 non-null     int64
dtypes: int64(2), object(1)
memory usage: 416.0+ bytes

array([['01월', 7550, 7350],
       ['02월', 6387, 6688],
       ['03월', 7198, 6973],
       ['04월', 6820, 6448],
       ['05월', 7767, 6470],
       ['06월', 7275, 7923],
       ['07월', 8164, 8015],
       ['08월', 7807, 7859],
       ['09월', 6811, 7452],
       ['10월', 7222, 6875],
       ['11월', 7592, 7337],
       ['12월', 7298, 6911]], dtype=object)

### Pandas의 DataFrame과 Series의 이해

In [212]:
# Series : 1차원 벡터구조
# DataFrame : 2차원 행렬구조

# 색인하기
# [컬럼]
df["강남구"] #1차원 시리즈 형태
df[["강남구"]] #2차원 데이터프레임 형태
# .loc[행]
df.loc[1]
# .loc[행, 열]
df.loc[[0,1]]
df.loc[1:4]
# .loc[조건식, 열]
df.loc[df.index %2 != 0]

    강남구  2019년(생활폐기물)-톤  2020년(생활폐기물)-톤
1   02월            6387            6688
3   04월            6820            6448
5   06월            7275            7923
7   08월            7807            7859
9   10월            7222            6875
11  12월            7298            6911

### DataFrame의 데이터 타입 이해하기 및 다루기

In [221]:
# 날짜 데이터의 변환
# 열(column) 인덱싱
# 행(index) 인덱싱
# 행, 열 인덱싱
# 정렬하기 : sort_values 사용하기
df.sort_values()
# 조건식 사용하기

TypeError: sort_values() missing 1 required positional argument: 'by'

### 빈도수 구하기 groupby 와 pivot_table

In [220]:
# 한 개의 변수 : series.value_counts()
df.value_counts()
# 두 개의 변수 : pd.crosstab()
pd.crosstab(df["강남구"],df["2019년(생활폐기물)-톤"],margins=True)

# 다양한 연산식의 사용

강남구  2019년(생활폐기물)-톤  2020년(생활폐기물)-톤
01월  7550            7350              1
02월  6387            6688              1
03월  7198            6973              1
04월  6820            6448              1
05월  7767            6470              1
06월  7275            7923              1
07월  8164            8015              1
08월  7807            7859              1
09월  6811            7452              1
10월  7222            6875              1
11월  7592            7337              1
12월  7298            6911              1
dtype: int64

## 4번

In [157]:
%mv /Users/ra/Downloads/서울특별시\ 강남구_생활폐기물배출량_20221019.csv .

mv: /Users/ra/Downloads/서울특별시 강남구_생활폐기물배출량_20221019.csv: No such file or directory

In [158]:
import pandas as pd

In [159]:
pd.read_csv("서울특별시 강남구_생활폐기물배출량_20221019.csv", encoding='cp949')

    강남구  2019년(생활폐기물)-톤  2020년(생활폐기물)-톤
0   01월            7550            7350
1   02월            6387            6688
2   03월            7198            6973
3   04월            6820            6448
4   05월            7767            6470
5   06월            7275            7923
6   07월            8164            8015
7   08월            7807            7859
8   09월            6811            7452
9   10월            7222            6875
10  11월            7592            7337
11  12월            7298            6911