# 1주차 퀴즈

## 1번

In [7]:
question = ['Q2', 'Q3', 'Q4', 'Q5', 'Q6_1', 'Q6_2', 'Q6_3', 'Q6_4', 'Q6_5', 'Q6_6',
       'Q6_7', 'Q6_8', 'Q6_9', 'Q6_10', 'Q6_11', 'Q6_12', 'Q7_1', 'Q7_2',
       'Q7_3', 'Q7_4', 'Q7_5', 'Q7_6', 'Q7_7', 'Q8', 'Q9', 'Q10_1', 'Q10_2',
       'Q10_3']

In [15]:
answer = []
for i in question:
    if '_' not in i:
        answer.append(i)
print(answer)

['Q2', 'Q3', 'Q4', 'Q5', 'Q8', 'Q9']

## 2번

In [104]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/healthexp.csv")
df.pivot_table(columns="Country" ,values="Life_Expectancy",index="Year").tail(10).reset_index().rename_axis(None, axis=1)

   Year  Canada  France  Germany  Great Britain  Japan   USA
0  2011    81.4    82.3     80.5           81.0   82.7  78.7
1  2012    81.6    82.1     80.6           81.0   83.2  78.8
2  2013    81.7    82.3     80.6           81.1   83.4  78.8
3  2014    81.8    82.8     81.2           81.4   83.7  78.9
4  2015    81.9    82.4     80.7           81.0   83.9  78.7
5  2016    82.0    82.7     81.0           81.2   84.1  78.7
6  2017    81.9    82.7     81.1           81.3   84.2  78.6
7  2018    82.0    82.8     81.0           81.3   84.3  78.7
8  2019    82.2    82.9     81.3           81.4   84.4  78.8
9  2020    81.7    82.3     81.1           80.4   84.7  77.0

## 3번

## 4번